/*
    Copyright 2013 Laurian Verre
	
    This file is part of Wusmap.

    Wusmap is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Wusmap is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Wusmap.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
 * @package Wusmap
 * @version 1.0
 * @author Laurian Verre
 * @description Stylesheet
 */

.wusmap-infobox-content {
    border: 1px solid green;
    margin-top: 8px;
    padding: 5px;
    background: white;
}

.wusmap-infobox-title {
    font-weight: bold;
}

.wusmap-infobox-description {
    font-size: 0.8em;
	border: 0;
}

.wusmap-infobox-description-key {
    font-style: italic;
}

.wusmap-infobox-description-value {
    /* font-weight: bold; */
}

body {
	font-family: Trebuchet, Helvetica, sans-serif;
}

h1, h2 {
	margin-left: 2em;
	margin-top: .25em;
	margin-bottom: .25em;
}

h1 {
    font-size: 1.5em;
}

table {
	border:0;
	margin: 2px 2px 8px 2px;
}

table th {
    font-size: 1.2em;
	text-align: left;
}

form input[type="checkbox"] {
	margin-left: 0px;
}

form input[type="submit"] {
	font-size: 1.2em;
	padding: 10px 20px;
	background: #FFFFFF;
	border: 2px solid #000000;
}

form input[type="submit"]:hover {
	background: #EEEEEE;
	cursor: pointer;
}